body{font-family: 'Indie Flower', cursive;
} 


#header{
	background-color:#CC33FF;
	height:125px;
	width:100%;
	top: 0;
	margin-left:auto;
	margin-right: auto;
	color:white; /* this is my font color */
	overflow-x:hidden
}

#headerText{
	position:relative;
	text-align: center;
	font-size: 95px;
}

#jumbotron{
		position:relative;
		background-image: url("../images/elvis.jpg");
		background-size:contain;
		background-repeat: no-repeat;
		background-position: center;
		height:1800px;
		width:1600px;
}
.horizBar{
	position:absolute;
	width:100%;
	height:70px;
	background-color:green;
	bottom:0;
	opacity: .4;
}

#menubar{
	position:relative;
	top:1745px;
	left:20px;
	z-index:1;
}
#mainPageText{
  position:relative;
  top:100px;
  width:325px;
  margin-left:auto; /*centers the div*/
  margin-right:auto;
  text-align:justify;
}

.horizRule{
  height:5px;
  width: 100%;
  background-color:black;
}

#footer{
	margin-top: 200px;
	background-color:#CC33FF;
	height:125px;
}
#footer #trademark{
	color:white;
	text-align:center;
}

#homeButton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #e352e3;
  -webkit-box-shadow: 0px 1px 3px #0f040f;
  -moz-box-shadow: 0px 1px 3px #0f040f;
  box-shadow: 0px 1px 3px #0f040f;
  color: #704619;
  font-size: 20px;
  background: #34d947;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 65px;
  text-align: center;
  height: 30px;
  position:relative;
  left:100px;
}

#homeButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#aboutButton{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #e352e3;
  -webkit-box-shadow: 0px 1px 3px #0f040f;
  -moz-box-shadow: 0px 1px 3px #0f040f;
  box-shadow: 0px 1px 3px #0f040f;
  color: #704619;
  font-size: 20px;
  background: #34d947;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 65px;
  text-align: center;
  height: 30px;
  position:relative;
  left:525px;
  top:-50px;
}
#aboutButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#contactButton{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #e352e3;
  -webkit-box-shadow: 0px 1px 3px #0f040f;
  -moz-box-shadow: 0px 1px 3px #0f040f;
  box-shadow: 0px 1px 3px #0f040f;
  color: #704619;
  font-size: 20px;
  background: #34d947;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 65px;
  text-align: center;
  height: 30px;
  position:relative;
  left:900px;
  top:-100px;
}
#contactButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.button{
  font-family: 'Didact Gothic', sans-serif; /*this references all buttons*/

}

#testButton{
	position:relative;
	height:100px;
	width:200px;
	background-color:red;
	border-radius:5px;
	left:490px;
	color:white;
	font-size:25px;
}


